*{
  box-sizing: border-box;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.box{
  width: 250px;
  height: 350px;
  background-color: aqua;
}